<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>cnt</servlet-name>
        <servlet-class>ControleurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cnt</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>
</web-app>
